<!DOCTYPE html>
<html>
<head>
    <title>FlotillaApp</title>
    <link rel="stylesheet" href="../../css/entrega_style.css" >
</head>
<body>
    <header>
        <h1>FlotillaApp</h1>
        <div>
            <span class="solar--user-circle-bold"></span>
            <span class="carbon--notification"></span>
        </div>
    </header>
    <nav>
        <a href="#" class="">
            <div class="icon map"></div>
            Mapa
        </a>
        <a href="#" class="active">
            <div class="icon deliveries"></div>
            Entregas
        </a>
        <a href="#">
            <div class="icon reports"></div>
            Reportes
        </a>
        <a href="#">
            <div class="icon messages"></div>
            Mensajería
        </a>
    </nav>
    <main>
        <h2>Entregas asignadas</h2>
        <div class="delivery">
            <h3>Cliente Acme Corp.</h3>
            <p>Calle Falsa 123, Ciudad</p>
            <p>15/06/2023 10:00 AM</p>
            <p>Materiales de construcción</p>
            <button>Terminar</button>
        </div>
        <div class="delivery">
            <h3>Cliente Industrias XYZ</h3>
            <p>Avenida Nuevo Rumbo 456...</p>
            <p>15/06/2023 3:00 PM</p>
            <p>Materiales de construcción</p>
            <button>Iniciar</button>
        </div>
        <div class="delivery">
            <h3>Cliente Industrias XYZ</h3>
            <p>Avenida Nuevo Rumbo 456...</p>
            <p>15/06/2023 3:00 PM</p>
            <p>Materiales de construcción</p>
            <button>Iniciar</button>
        </div>
        <div class="delivery">
            <h3>Cliente Industrias XYZ</h3>
            <p>Avenida Nuevo Rumbo 456...</p>
            <p>15/06/2023 3:00 PM</p>
            <p>Materiales de construcción</p>
            <button>Iniciar</button>
        </div>
    </main>
    
</body>
</html>