<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlotillaApp</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <header>
        <div class="user-icon"></div>
        <h1>FlotillaApp</h1>
        <div class="notification-icon"></div>
    </header>
    <main>
        <nav>
            <a href="#">
                <div class="icon map"></div>
                <p>Mapa</p>
            </a>
            <a href="#">
                <div class="icon deliveries"></div>
                <p>Entregas</p>
            </a>
            <a href="#">
                <div class="icon reports"></div>
                <p>Reportes</p>
            </a>
            <a href="#">
                <div class="icon messages"></div>
                <p>Mensajería</p>
            </a>
        </nav>
        <section class="map-container">
            <img src="map.png" alt="Map">
        </section>
        <section class="trip-info">
            <h2>Información de viajes</h2>
            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <p>Destino: --------</p>
                <div class="status green"></div>
            </div>
            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <p>Destino: --------</p>
                <div class="status red"></div>
            </div>
            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <p>Destino: --------</p>
                <div class="status red"></div>
            </div>
        </section>
        
        <footer>

        </footer>
    </main>
</body>
</html>