<!DOCTYPE html>
<html>
<head>
    <title>FlotillaApp</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <header>
        <h1>FlotillaApp</h1>
        <div>
            <span class="solar--user-circle-bold"></span>
            <span class="carbon--notification"></span>
        </div>
    </header>

    <nav>
        <a href="#" class="active">
            <div class="icon map"></div>
            Mapa
        </a>
        <a href="#">
            <div class="icon deliveries"></div>
            Entregas
        </a>
        <a href="#">
            <div class="icon reports"></div>
            Reportes
        </a>
        <a href="#">
            <div class="icon messages"></div>
            Mensajería
        </a>
    </nav>

    <main>
        <div class="map-container">
            <img src="../../images/mapa.png" alt="Map">
        </div>

        <div class="trip-info">
            <h2>Información de viajes</h2>

            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <div class="status green"></div>
                <p>Destino: --------</p>
                
            </div>

            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <div class="status red"></div>
                <p>Destino: --------</p>
                
            </div>

            <div class="trip">
                <h3>Entrega</h3>
                <p>Origen: --------</p>
                <div class="status green"></div>
                <p>Destino: --------</p>
                
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>